.container{

    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.element{

    margin-top: 10%;
    width:30%;
    height:20%;
    background-color: red;


}
.center{
    text-align: center;
}